


html{
  height: 100%;
  background: linear-gradient(to right, #dddddd 0%, #eeeeee 15%, #ffffff 50%, #eeeeee 85%,#dddddd 100%);
}

body{
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 300;
}

h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  margin-top: 16px;
  margin-bottom: 0px;
}

h3 {
  margin-top: 16px;
  margin-bottom: 0px;
}
h4 {
  margin-top: 8px;
  margin-bottom: 0px;
}

h5 {
  margin-top: 8px;
  margin-bottom: 0px;
}
h6 {
  margin-top: 4px;
  margin-bottom: 0px;
}


p {
  margin-top:0px;
  font-size: 24px;
}

a{
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 700;
}

.point {
  color: #1976d2;
  font-size: 48px;
  font-family: "Gemunu Libre", sans-serif;
  margin-bottom: 0px;
  margin-top: 16px;
}


blockquote {
  background: black;
  color: #cccccc;
  padding: 20px;
  font-size: 24px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
  font-family: 'Share Tech Mono', monospace;
}

blockquote > p {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 16px;
}
