


html{
  height: 100%;
  background: linear-gradient(to right, #dddddd 0%, #eeeeee 15%, #ffffff 50%, #eeeeee 85%,#dddddd 100%);
}

body{
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: small;
  font-weight: 300;
}






p {
  margin-top:0px;
  font-size: 24px;
}

a{
  font-family: "Gemunu Libre", sans-serif;
  font-weight: 700;
}

.point {
  color: #1976d2;
  font-size: 48px;
  font-family: "Gemunu Libre", sans-serif;
  margin-bottom: 0px;
  margin-top: 16px;
}

