
#header > h1{
  color: #990000;
  font-family: 'Stalinist One', cursive;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 85px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#header {}

#header > span {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#header > span > div {
  display: inline-block;
}

#header > h2 {
  text-align: center;
  font-family: 'Zen Dots', cursive;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 24px;
}

#header > h2 > span {
  -webkit-animation: glow 5s ease-in-out infinite alternate;
  -moz-animation: glow 5s ease-in-out infinite alternate;
  animation: glow 5s ease-in-out infinite alternate;
}





.main > section {
 margin-left: auto;
 margin-right: auto;
 text-align: left;
 width: 800px;
}


.main > section > p {
 text-align: left;
}




#punchlist  {
 margin-top: 64px;
 margin-left: auto;
 margin-right: auto;
 text-align: left;

 font-size: xx-large;
}

#punchlist > a {

}

#punchlist > p {
  margin-bottom: 25px;
  text-align: left;
  color: black;
  font-size: xx-large;
}

#punchlist > ul > li {
  margin-bottom: 25px;
  text-align: left;
  color: black;
 font-family: "Geo";
  font-family: "Gemunu Libre", sans-serif;;

  font-weight: 300;
  font-size: xx-large;
  font-style: italic;
  list-style-type: square;

}






