




.row {
  layout: flex
}

.row> .column{
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both
}

.row > .column > ul > li > h6 {
  color: #000000;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 24px;
  text-align: left;
  font-family: "Gemunu Libre", sans-serif;
}


.sub_project {
  color: #1976d2;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 0px;
  font-size: 48px;
  text-align: center;
  font-family: "Gemunu Libre", sans-serif;
}
